@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    /* background-image: url(/img1.jpg);
     */
    background-size: cover;
    position:fixed;
}


.outerbox {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to top left,aqua,white); */

}

.outerbox video {
    z-index: 000;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.innerbox {

    height: 480px;
    width: 400px;
    border: solid #7d1fe8 2px;
   margin: 20px 90px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 40px;
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left, #0b0b0bd0, #970cdc86);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    box-shadow: 2px 2px 7px #801fe8;
    z-index: 2;
}

.signup h1 {
    font-size: 2.5rem;
    color: #f2eef5;
}

.signup p {
    font-size: 0.9rem;
    color: #dcd6e2;
    margin: 3px;
}

.signupbody {
    margin: 10px 0;

}

.signupbody p {
    margin: 10px;
    color: #d7d3dc;

}

.signupbody p label {
    display: block;
    font-weight: bold;
  
}

.signupbody p input {
    width: 100%;
    padding: 12px;
    margin: 5px;
    margin-top: 8px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #d8d5db 2px;
    font-size: 18px;
    color: #f6efef;

}

.signupbody p input[type="submit"] {
    background-color: #1f22e8;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* .signupbody p input[type="submit"]:hover {
    background-color: #246a98;

} */
.signupbody p input:hover{
    background-color: #d1ccd9;
    color: #801fe8;
    transition: .5s;
}

.signup_footer p {
    color: #ebe3e3;
    text-align: center;
}

.signup_footer p a {
    color: #1583cc;
}

/* .circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top left,white,rgba(255, 255, 255, 0.304));
    position: absolute;
}
.c1{
    top: 100px;
    right: 40px;
}
.c2{
    bottom: 100px;
    left: 50px;
} */
.video1 {
    height: 100vh;

    margin-left: 50px;

}